<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <%if notice.present?%>
    <div class="alert alert-info" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
    <%end%>

    <h1>Preguntas</h1>
    <div class="row">
      <div class="pull-right">
        <%= link_to 'Hacer Pregunta', new_question_path, class: "btn btn-default" %><br>
      </div>
    </div>

        <% @questions.each do |question| %>
          <hr>
            <div class="row">
              <div class="col-sm-1 col-md-1 text-center">
                <span class="badge"><%= question.votes.count%></span>
              </div>
              <div class="col-sm-1 col-md-1 text-center">
                <span class="badge"><%= question.answers.count%></span>
              </div>
              <div class="col-sm-1 col-md-8" style="font-size:20px;">
                <%= link_to question.title, question %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1 col-md-1 text-center ">
                Votos
              </div>
              <div class="col-sm-1 col-md-1 text-center">
                Respuestas
              </div>
              <div class="col-sm-8 col-md-8">
              <p class="text-muted">publicada por: <%= question.user.email %></p>
              </div>
            </div>


        <% end %>
  </div>
</div>
